@charset "utf-8";

h1{
    border: solid 3px black;
}

.body {
    background-image: url(../company/company.img/快晴.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.background img{
    text-align: center;
    width: 40%;
    height: 40%;
}

.center{
    text-align: center;
}

.s{
    font-size: 20px;
}